@font-face {
  font-family: 'Gmarket';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'Gmarket';
}

h1 {
  text-align: center;
  padding-top: 30px;
}

.header a {
  text-decoration: none;
  color: white;
  padding: 10px 30px 10px 0px;
}

.header a:hover {
  color: black;
}

.modal {
  font-family: 'Gmarket';
}

.ellipsis {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}